In [1]:
print("Hello")

Hello

In [2]:
a  = 2

In [3]:
if a == 1:
    print(a)
elif a == 2:
    print("2")
else:
    print("error")

2

In [4]:
list = ['a', 'b', 'c', 'd', 'e']

In [5]:
for a in list:
    print(a)

a
b
c
d
e

In [6]:
 for number in range(3):
    print(number)

0
1
2

In [7]:
for i in range(1,3):
    print(i)

1
2

In [8]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(1,13):
    if i%2 == 0 and i%3 == 0:
        print(i)
        break
        print("if statement")
else:
        print("complete")

6

In [10]:
from datetime import date

In [11]:
newyearsday = date(2019,12,11)

In [12]:
newyearsday.year, newyearsday.month, newyearsday.day

(2019, 12, 11)

In [13]:
newyearsday.weekday()

2

In [14]:
newyearsday.isoformat()

'2019-12-11'

In [15]:
newyearsday.strftime("%Y/%m/%d(%a)")

'2019/12/11(Wed)'

In [16]:
date.today()

datetime.date(2019, 12, 13)

In [17]:
str(newyearsday)

'2019-12-11'

In [18]:
from datetime import datetime

In [19]:
today = datetime.today()

In [20]:
today.date()

datetime.date(2019, 12, 13)

In [21]:
today.isoformat()

'2019-12-13T04:12:04.168472'

In [22]:
from dateutil.relativedelta import relativedelta

In [23]:
from datetime import datetime, date

In [24]:
now = datetime.now()

In [25]:
now + relativedelta(months =+ 1)

datetime.datetime(2020, 1, 13, 4, 12, 4, 747590)

In [26]:
from dateutil.relativedelta import SA

In [27]:
now + relativedelta(weekday=SA)

datetime.datetime(2019, 12, 14, 4, 12, 4, 747590)

In [28]:
from time import sleep

In [29]:
for x in range(0, 10):
    print(x)
    sleep(1)

0
1
2
3
4
5
6
7
8
9

In [30]:
stock = ['삼성전자', '엘지전자', 'SK하이닉스']

In [31]:
print(stock[0])

삼성전자

In [32]:
stock[1] = '현대자동차'

In [33]:
print(stock)

['삼성전자', '현대자동차', 'SK하이닉스']

In [34]:
for x in stock:
    print(x)

삼성전자
현대자동차
SK하이닉스

In [35]:
for x in stock[::-1]:
    print(x)

SK하이닉스
현대자동차
삼성전자

In [36]:
stock.append('GS')

In [37]:
print(stock)

['삼성전자', '현대자동차', 'SK하이닉스', 'GS']

In [38]:
del stock[3]

In [39]:
print(stock)

['삼성전자', '현대자동차', 'SK하이닉스']

In [40]:
stock.extend(['신세계', '롯데제과'])

In [41]:
print(stock)

['삼성전자', '현대자동차', 'SK하이닉스', '신세계', '롯데제과']

In [42]:
stock.insert(2, '엘지전자')

In [43]:
print(stock)

['삼성전자', '현대자동차', '엘지전자', 'SK하이닉스', '신세계', '롯데제과']

In [44]:
stock[:2]

['삼성전자', '현대자동차']

In [45]:
stock[::2]

['삼성전자', '엘지전자', '신세계']

In [46]:
stock.index('삼성전자')

0

In [47]:
stock2 = [['삼성전자', '삼성화재', '삼성생명'], [' 엘지전자', '엘지화학'],['SK하이닉스', 'Sk에너지']]

In [48]:
stock2[0][1]

'삼성화재'

In [49]:
l = ['123', '44', '56', '123123']

In [50]:
l.sort()

In [51]:
l.sort(key=int)

In [52]:
l

['44', '56', '123', '123123']

In [53]:
l.sort(reverse=True, key=int)

# 리스트 내장 이거 매우 중요

In [54]:
compre_2  =[x**2 for x in range(0, 10)]

In [55]:
compre_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
tmp = [k for k in range(0, 30) if k%2 ==0]

In [57]:
tmp

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [58]:
gugudan = [x * y for x in range(2, 10) for y in range(1, 10) if x%2 == 0]

In [59]:
gugudan

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72]

# Tuple사용

In [60]:
tuple_example = ('a', 'b', 'c', 'd')

In [61]:
print(type(tuple_example))

<class 'tuple'>

튜플은 데이터 변경 안됌

한 데이터에 여러 데이터를 넣는 것을 패킹이라고 함

In [62]:
t = 1, 2, "hello"

In [63]:
print(t)

(1, 2, 'hello')

In [64]:
x, y, z = t

In [65]:
print(x)

1

In [66]:
print(y)

2

In [67]:
print(z)

hello

In [68]:
t2 = 1, 2, 3, 4, 5, 6, 'test1', 'test2'

In [69]:
*a1, a2, a3, a4 = t2

In [70]:
a1

[1, 2, 3, 4, 5]

In [71]:
a1, a2, *a3, a4 = t2

In [72]:
a3

[3, 4, 5, 6, 'test1']

In [73]:
stock3 = [['삼성전자', '45300'], ['엘지전자', '73800']]

In [74]:
for name, money in stock3:
    print(name, money)

삼성전자 45300
엘지전자 73800

In [75]:
first = {'Python':'최영민', '패스트':'캠퍼스'}

In [76]:
first

{'Python': '최영민', '패스트': '캠퍼스'}

Key값은 중복을 허락하지 않는다

In [77]:
first['삼성'] = '22400'

In [78]:
first

{'Python': '최영민', '패스트': '캠퍼스', '삼성': '22400'}

In [79]:
del first['삼성']

In [80]:
first

{'Python': '최영민', '패스트': '캠퍼스'}

In [81]:
stock_dict2 = {'삼성전자':{'고가':46000, '저가':43000, '시가':45700}, '엘지전자':{'고가':26000, '저가':23000, '시가':25700}}

In [82]:
stock_dict2

{'삼성전자': {'고가': 46000, '저가': 43000, '시가': 45700},
 '엘지전자': {'고가': 26000, '저가': 23000, '시가': 25700}}

In [83]:
stock_dict2['엘지전자']['시가']

25700

In [84]:
stock_dict2.keys()

dict_keys(['삼성전자', '엘지전자'])

In [85]:
stock_dict2.values()

dict_values([{'고가': 46000, '저가': 43000, '시가': 45700}, {'고가': 26000, '저가': 23000, '시가': 25700}])

In [86]:
stock_dict2.items()

dict_items([('삼성전자', {'고가': 46000, '저가': 43000, '시가': 45700}), ('엘지전자', {'고가': 26000, '저가': 23000, '시가': 25700})])

In [87]:
dict_sorted = {'f':10, 'b': 5, 'a': 15, 'd':1}

In [88]:
#value 기준 정렬
sorted(dict_sorted, key=lambda x:dict_sorted[x])

['d', 'b', 'f', 'a']

In [89]:
#key 기준 정렬
sorted(dict_sorted, key = lambda x : x)

['a', 'b', 'd', 'f']

In [90]:
{w:k for k, w in [(1, 'one'), (2, 'two'), (3, 'three')]}

{'one': 1, 'two': 2, 'three': 3}

Set 사용

In [91]:
a = {1,1,1,1,1,1,12,2,2,2,3,3,3,4,4,}

In [92]:
a

{1, 2, 3, 4, 12}

In [93]:
a = set()

In [94]:
a

set()

In [95]:
b = {1, 2, 3}

In [96]:
c = {}

In [97]:
type(c)

dict

In [98]:
a.update(b)

In [99]:
a

{1, 2, 3}

In [100]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}
c = {4, 10}

In [101]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [102]:
a.intersection(b)

{4, 5, 6}

In [103]:
a.intersection(b, c)

{4}

In [104]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

In [105]:
def say():
    print('Hello')

In [106]:
say()

Hello

In [107]:
def say2(name):
    print("{} people".format(name))

In [108]:
say2('choi')

choi people

In [109]:
def odd_number(number):
    if number % 2 == 0:
        return number, '짝수'
    else:
        return number, '홀수'

In [110]:
num, text = odd_number(15)

In [111]:
num

15

In [112]:
text

'홀수'

In [113]:
def test():
    x = 1
    print(x, id(x))

In [114]:
x = 10

In [115]:
test()

1 93864807094816

In [116]:
print(x, id(x))

10 93864807095104

In [117]:
def test():
    global x
    x = 1
    print(x, id(x))

In [118]:
x = 10

In [119]:
test()

1 93864807094816

In [120]:
print(x, id(x))

1 93864807094816

In [121]:
sec5 = [45500, 46550, 45850, 44050, 43900]

In [122]:
sum(sec5) / len(sec5)

45170.0

In [123]:
def mean(stock):
    return sum(stock) / len(stock)

In [124]:
mean(sec5)

45170.0

가하평균

In [125]:
from math import *
def geometrical(*arg):#가변 인자 (인자수가 정해저 있지 않다)
    print(arg)
    geometrical_list = [1 + (x/100) for x in arg]
    print(geometrical_list)
    total = 1
    for x in geometrical_list:
        total *= x
    return pow((total), 1/len(geometrical_list))

In [126]:
geometrical(10, 20, -15)

(10, 20, -15)
[1.1, 1.2, 0.85]

1.0391166068457145

In [127]:
1080 * geometrical(20, 5, -7, -15)**len([20, 5, -7, -15])

(20, 5, -7, -15)
[1.2, 1.05, 0.9299999999999999, 0.85]

1075.7124

In [128]:
help(pow)

Help on built-in function pow in module math:

pow(...)
    pow(x, y)

    Return x**y (x to the power of y).

In [129]:
pow(2, 4)

16.0

In [130]:
max(sec5)

46550

In [131]:
min(sec5)

43900

중앙값(데이터가 순서대로 올때 중앙값)

In [132]:
def median(data):
    if len(data) % 2 == 0:
        index = int(len(data) / 2)
        print(index)
        return (data[index - 1] +data[index]) / 2
    elif len(data) % 2 == 1:
        index = int(len(data) // 2)
        print(index)
        return data[index]

In [133]:
stock = [2240, 2300, 2512, 3200, 3200, 3270, 3300, 3310, 4450, 5785]

In [134]:
median(stock)

5

3235.0

In [135]:
stock = [2240, 2300, 2512, 3200, 3200, 3270, 3300, 3310, 4450]

In [136]:
median(stock)

4

3200

In [137]:
def variance(data):
    vari_mean = mean(data)
    diff = 0
    for n in data:
        diff += (n - vari_mean)**2
    return diff/(len(data)- 1)

In [138]:
variance(stock)

459912.1111111111

In [139]:
def stddev(data):
    return variance(data)**0.5

In [140]:
stddev(stock)

678.1682026688594

In [141]:
stock = ['삼성전자', '엘지전자', 'SK텔레콤']

In [142]:
try:
    stock.index('삼성SDS')
except:
    print('삼성SDS가 없습니다')
else:
    print('원하는 데이터가 없습니다')

삼성SDS가 없습니다

In [143]:
try:
    stock.index('삼성전자')
except:
    print('삼성SDS가 없습니다')
else:
    print('원하는 데이터가 있습니다')
finally:
    print('무조건 실행')

원하는 데이터가 있습니다
무조건 실행

In [144]:
try:
    5/0
except NameError:
    print('Name Error')
except IndexError:
    print('Index Error')
except ZeroDivisionError:
    print('ZeroDivision Error')

ZeroDivision Error

In [145]:
try:
    5/0
except Exception as e:
    print(e)

division by zero

In [146]:
try:
    stock[10]
except Exception as e:
    print(e)

list index out of range

In [147]:
for x in range(1, 10):
    if x%2 == 0:
        pass
        print("A")
    print("wow")

wow
A
wow
wow
A
wow
wow
A
wow
wow
A
wow
wow

In [148]:
alphabet = ['a', 'b', 'c', 'd']

In [149]:
for idx, x in enumerate(alphabet):
    print(idx, x)

0 a
1 b
2 c
3 d

In [150]:
def f(x):
    return x * x

In [151]:
X = [1, 2, 3, 4, 5]

In [157]:
# list(map(lambda x: x * x , X))

In [158]:
from functools import reduce

# reduce 
**map보다 reduce를 더 많이씀**

In [160]:
reduce(lambda x, y: x+y, range(1, 6))

15

In [161]:
Matt_Damon = "HowAlive".encode()

In [162]:
for idx, x in enumerate(Matt_Damon):
    print("{:02x}".format(Matt_Damon[idx]))

48
6f
77
41
6c
69
76
65

In [165]:
"파이썬".encode('utf-8')

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [166]:
"파이썬".encode('utf-8-sig')

b'\xef\xbb\xbf\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [167]:
f = open('test.csv','w', encoding='utf-8-sig')

In [168]:
f.write("파이썬")

3

In [169]:
f.close()

In [171]:
import os
os.getcwd()

'/home/nbuser/library'

In [172]:
f = open('./test.csv','r',encoding='utf-8')

In [173]:
content =  f.read()

In [174]:
print(content)

﻿파이썬

In [175]:
content2 = f.read()

In [176]:
content2

''

In [177]:
f.tell()

12

In [178]:
f.seek(0)

0

In [179]:
content3 = f.read()

In [180]:
content3

'\ufeff파이썬'