In [1]:
print("hello")

hello

In [2]:
import requests
import pandas as pd
import json
from bs4 import BeautifulSoup

In [3]:
url = 'https://finance.naver.com/sise/sise_group.nhn?type=upjong'

In [4]:
r = requests.get(url)

In [5]:
bs = BeautifulSoup(r.text, 'html.parser')

In [6]:
# upjong = bs.find(class_ = 'type_1').find_all("tr")
# # 오류남 왜?? --> table tag가 있어야 pandas가 인식

In [7]:
upjong = bs.find("table", class_ = 'type_1')

In [8]:
type(upjong)

bs4.element.Tag

In [9]:
upjong_df = pd.read_html(str(upjong))[0]

In [10]:
upjong_df

          업종별 시세명    전일대비 전일대비 등락현황                  등락그래프
          업종별 시세명    전일대비        전체    상승   보합    하락 등락그래프
0             해운사  +2.90%       7.0   5.0  1.0   1.0  100%
1         도로와철도운송  +2.18%       6.0   3.0  1.0   2.0   75%
2      양방향미디어와서비스  +1.71%      10.0   5.0  2.0   3.0   58%
3            통신장비  +1.66%      46.0  21.0  9.0  16.0   57%
4        레저용장비와제품  +1.47%       9.0   6.0  1.0   2.0   50%
..            ...     ...       ...   ...  ...   ...   ...
121    생명과학도구및서비스  -1.48%      25.0   5.0  2.0  18.0   51%
122           문구류  -1.82%       3.0   0.0  1.0   2.0   62%
123  독립전력생산및에너지거래  -1.85%       1.0   0.0  0.0   1.0   63%
124           NaN     NaN       NaN   NaN  NaN   NaN   NaN
125           NaN     NaN       NaN   NaN  NaN   NaN   NaN

[126 rows x 7 columns]

In [11]:
upjong_df = upjong_df.dropna()

In [12]:
upjong_df

          업종별 시세명    전일대비 전일대비 등락현황                  등락그래프
          업종별 시세명    전일대비        전체    상승   보합    하락 등락그래프
0             해운사  +2.90%       7.0   5.0  1.0   1.0  100%
1         도로와철도운송  +2.18%       6.0   3.0  1.0   2.0   75%
2      양방향미디어와서비스  +1.71%      10.0   5.0  2.0   3.0   58%
3            통신장비  +1.66%      46.0  21.0  9.0  16.0   57%
4        레저용장비와제품  +1.47%       9.0   6.0  1.0   2.0   50%
..            ...     ...       ...   ...  ...   ...   ...
116        전기유틸리티  -1.38%       4.0   1.0  0.0   3.0   47%
120     에너지장비및서비스  -1.44%      10.0   2.0  3.0   5.0   49%
121    생명과학도구및서비스  -1.48%      25.0   5.0  2.0  18.0   51%
122           문구류  -1.82%       3.0   0.0  1.0   2.0   62%
123  독립전력생산및에너지거래  -1.85%       1.0   0.0  0.0   1.0   63%

[79 rows x 7 columns]

In [13]:
upjong_df.columns

MultiIndex([(  '업종별 시세명', '업종별 시세명'),
            (     '전일대비',    '전일대비'),
            ('전일대비 등락현황',      '전체'),
            ('전일대비 등락현황',      '상승'),
            ('전일대비 등락현황',      '보합'),
            ('전일대비 등락현황',      '하락'),
            (    '등락그래프',   '등락그래프')],
           )

## 콜롬에 값이 두줄에서 columns.droplevel을 이용해 한줄제거

In [14]:
upjong_df.columns = upjong_df.columns.droplevel(0)

In [15]:
upjong_df

          업종별 시세명    전일대비    전체    상승   보합    하락 등락그래프
0             해운사  +2.90%   7.0   5.0  1.0   1.0  100%
1         도로와철도운송  +2.18%   6.0   3.0  1.0   2.0   75%
2      양방향미디어와서비스  +1.71%  10.0   5.0  2.0   3.0   58%
3            통신장비  +1.66%  46.0  21.0  9.0  16.0   57%
4        레저용장비와제품  +1.47%   9.0   6.0  1.0   2.0   50%
..            ...     ...   ...   ...  ...   ...   ...
116        전기유틸리티  -1.38%   4.0   1.0  0.0   3.0   47%
120     에너지장비및서비스  -1.44%  10.0   2.0  3.0   5.0   49%
121    생명과학도구및서비스  -1.48%  25.0   5.0  2.0  18.0   51%
122           문구류  -1.82%   3.0   0.0  1.0   2.0   62%
123  독립전력생산및에너지거래  -1.85%   1.0   0.0  0.0   1.0   63%

[79 rows x 7 columns]

# 상승 종목

In [16]:
base_url = "https://finance.naver.com/sise/field_submit.nhn?"

In [17]:
url = "https://finance.naver.com/sise/sise_rise.nhn"

In [18]:
r = requests.get(url)

In [19]:
bs = BeautifulSoup(r.text, 'lxml')

In [20]:
item_result = bs.find("table", class_ = "item_list").find_all('input')

In [21]:
item_result[0]['value']

'quant'

In [22]:
item = [x['value'] for x in item_result]

In [23]:
item

['quant',
 'ask_buy',
 'amount',
 'market_sum',
 'operating_profit',
 'per',
 'open_val',
 'ask_sell',
 'prev_quant',
 'property_total',
 'operating_profit_increasing_rate',
 'roe',
 'high_val',
 'buy_total',
 'frgn_rate',
 'debt_total',
 'net_income',
 'roa',
 'low_val',
 'sell_total',
 'listed_stock_cnt',
 'sales',
 'eps',
 'pbr',
 'sales_increasing_rate',
 'dividend',
 'reserve_ratio']

In [24]:
payload = {'menu': 'rise',
           'sosok': 0,
           'returnUrl': 'http://finance.naver.com/sise/sise_rise.nhn?sosok=0',
           'fieldIds': item[:7]
}

In [25]:
r = requests.get(base_url, params=payload)

In [26]:
bs = BeautifulSoup(r.text, 'html.parser')

In [27]:
a = pd.read_html(str(bs.find("table", 'type_2')))[0]

In [28]:
a

,N,종목명,현재가,전일비,등락률,거래량,거래대금,시가,매수호가,시가총액,영업이익,PER
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,태양금속,1360.0,140.0,+11.48%,24825685.0,35594.0,1220.0,1355.0,499.0,72.0,-10.15
2,2.0,이구산업,1805.0,155.0,+9.39%,11930198.0,22489.0,1650.0,1805.0,604.0,-1.0,-22.85
3,3.0,AJ네트웍스,4855.0,405.0,+9.10%,1870408.0,9297.0,4970.0,4855.0,2273.0,-213.0,202.29
4,4.0,한솔로지스틱스,1475.0,100.0,+7.27%,543186.0,778.0,1380.0,1475.0,405.0,39.0,22.01
...,...,...,...,...,...,...,...,...,...,...,...,...
1267,793.0,TIGER 단기통안채,101525.0,5.0,0.00%,827.0,83.0,101515.0,101520.0,7810.0,NaN,NaN
1268,794.0,KODEX 단기채권PLUS,101690.0,5.0,0.00%,8518.0,866.0,101690.0,101685.0,8152.0,NaN,NaN
1269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
rt_a = a.iloc[a['N'].dropna().index, :]

In [30]:
rt_a

,N,종목명,현재가,전일비,등락률,거래량,거래대금,시가,매수호가,시가총액,영업이익,PER
1,1.0,태양금속,1360.0,140.0,+11.48%,24825685.0,35594.0,1220.0,1355.0,499.0,72.0,-10.15
2,2.0,이구산업,1805.0,155.0,+9.39%,11930198.0,22489.0,1650.0,1805.0,604.0,-1.0,-22.85
3,3.0,AJ네트웍스,4855.0,405.0,+9.10%,1870408.0,9297.0,4970.0,4855.0,2273.0,-213.0,202.29
4,4.0,한솔로지스틱스,1475.0,100.0,+7.27%,543186.0,778.0,1380.0,1475.0,405.0,39.0,22.01
5,5.0,웰바이오텍,2290.0,150.0,+7.01%,2909168.0,6739.0,2135.0,2290.0,985.0,-85.0,-2.92
...,...,...,...,...,...,...,...,...,...,...,...,...
1261,790.0,KBSTAR KRX국채선물3년10년스티프너,50085.0,10.0,+0.02%,6.0,0.0,50075.0,50050.0,70.0,NaN,NaN
1265,791.0,KBSTAR 단기국공채액티브,101970.0,10.0,+0.01%,51.0,5.0,101960.0,101960.0,941.0,NaN,NaN
1266,792.0,KODEX 단기변동금리부채권액티브,101555.0,15.0,+0.01%,1.0,0.0,101555.0,101555.0,1357.0,NaN,NaN
1267,793.0,TIGER 단기통안채,101525.0,5.0,0.00%,827.0,83.0,101515.0,101520.0,7810.0,NaN,NaN
1268,794.0,KODEX 단기채권PLUS,101690.0,5.0,0.00%,8518.0,866.0,101690.0,101685.0,8152.0,NaN,NaN

In [31]:
payload['fieldIds'] = item[8:15]
r = requests.get(base_url, params=payload)

In [32]:
bs = BeautifulSoup(r.text, 'html.parser')

In [33]:
b = pd.read_html(str(bs.find("table", "type_2")))[0]

In [34]:
b

,N,종목명,현재가,전일비,등락률,전일거래량,고가,매수총잔량,자산총계,영업이익증가율,외국인비율,ROE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,태양금속,1360.0,140.0,+11.48%,176285.0,1525.0,77179.0,3963.0,-28.16,1.81,-5.35
2,2.0,이구산업,1805.0,155.0,+9.39%,186811.0,2010.0,70163.0,2607.0,-100.76,3.15,-2.45
3,3.0,AJ네트웍스,4855.0,405.0,+9.10%,137125.0,5150.0,7126.0,25751.0,-194.85,7.39,0.39
4,4.0,한솔로지스틱스,1475.0,100.0,+7.27%,77640.0,1475.0,25195.0,1268.0,69.58,4.50,2.81
...,...,...,...,...,...,...,...,...,...,...,...,...
1267,793.0,TIGER 단기통안채,101525.0,5.0,0.00%,10879.0,101525.0,33603.0,NaN,NaN,0.00,NaN
1268,794.0,KODEX 단기채권PLUS,101690.0,5.0,0.00%,19210.0,101690.0,20223.0,NaN,NaN,0.00,NaN
1269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
rt_b = b.iloc[b['N'].dropna().index, :]

In [36]:
rt_a.shape

(794, 12)

In [37]:
rt_b.shape

(794, 12)

In [38]:
rt_b.iloc[:, 5:]

         전일거래량        고가     매수총잔량     자산총계  영업이익증가율  외국인비율    ROE
1     176285.0    1525.0   77179.0   3963.0   -28.16   1.81  -5.35
2     186811.0    2010.0   70163.0   2607.0  -100.76   3.15  -2.45
3     137125.0    5150.0    7126.0  25751.0  -194.85   7.39   0.39
4      77640.0    1475.0   25195.0   1268.0    69.58   4.50   2.81
5     421432.0    2445.0   64196.0   1112.0   -64.75   0.28 -31.09
...        ...       ...       ...      ...      ...    ...    ...
1261       7.0   50095.0    4001.0      NaN      NaN   0.00    NaN
1265  146588.0  101970.0   20000.0      NaN      NaN   0.00    NaN
1266       0.0  101555.0  107999.0      NaN      NaN   0.00    NaN
1267   10879.0  101525.0   33603.0      NaN      NaN   0.00    NaN
1268   19210.0  101690.0   20223.0      NaN      NaN   0.00    NaN

[794 rows x 7 columns]

In [39]:
rt_final = pd.concat([rt_a, rt_b.iloc[:, 5:]], axis=1)

In [40]:
rt_final

,N,종목명,현재가,전일비,등락률,거래량,거래대금,시가,매수호가,시가총액,영업이익,PER,전일거래량,고가,매수총잔량,자산총계,영업이익증가율,외국인비율,ROE
1,1.0,태양금속,1360.0,140.0,+11.48%,24825685.0,35594.0,1220.0,1355.0,499.0,72.0,-10.15,176285.0,1525.0,77179.0,3963.0,-28.16,1.81,-5.35
2,2.0,이구산업,1805.0,155.0,+9.39%,11930198.0,22489.0,1650.0,1805.0,604.0,-1.0,-22.85,186811.0,2010.0,70163.0,2607.0,-100.76,3.15,-2.45
3,3.0,AJ네트웍스,4855.0,405.0,+9.10%,1870408.0,9297.0,4970.0,4855.0,2273.0,-213.0,202.29,137125.0,5150.0,7126.0,25751.0,-194.85,7.39,0.39
4,4.0,한솔로지스틱스,1475.0,100.0,+7.27%,543186.0,778.0,1380.0,1475.0,405.0,39.0,22.01,77640.0,1475.0,25195.0,1268.0,69.58,4.50,2.81
5,5.0,웰바이오텍,2290.0,150.0,+7.01%,2909168.0,6739.0,2135.0,2290.0,985.0,-85.0,-2.92,421432.0,2445.0,64196.0,1112.0,-64.75,0.28,-31.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,790.0,KBSTAR KRX국채선물3년10년스티프너,50085.0,10.0,+0.02%,6.0,0.0,50075.0,50050.0,70.0,NaN,NaN,7.0,50095.0,4001.0,NaN,NaN,0.00,NaN
1265,791.0,KBSTAR 단기국공채액티브,101970.0,10.0,+0.01%,51.0,5.0,101960.0,101960.0,941.0,NaN,NaN,146588.0,101970.0,20000.0,NaN,NaN,0.00,NaN
1266,792.0,KODEX 단기변동금리부채권액티브,101555.0,15.0,+0.01%,1.0,0.0,101555.0,101555.0,1357.0,NaN,NaN,0.0,101555.0,107999.0,NaN,NaN,0.00,NaN
1267,793.0,TIGER 단기통안채,101525.0,5.0,0.00%,827.0,83.0,101515.0,101520.0,7810.0,NaN,NaN,10879.0,101525.0,33603.0,NaN,NaN,0.00,NaN
1268,794.0,KODEX 단기채권PLUS,101690.0,5.0,0.00%,8518.0,866.0,101690.0,101685.0,8152.0,NaN,NaN,19210.0,101690.0,20223.0,NaN,NaN,0.00,NaN

In [41]:
item[8:15]

['prev_quant',
 'property_total',
 'operating_profit_increasing_rate',
 'roe',
 'high_val',
 'buy_total',
 'frgn_rate']