In [1]:
stock_dic = [{'날짜':'2019-05-07',
              '종목':'삼성전자',
              '시가':'45250',
              '종가':'44850'},
             {'날짜':'2019-05-07',
              '종목':'LG전자',
              '시가':'75200',
              '종가':'77000'},
             {'날짜':'2019-05-07',
              '종목':'SK텔레콤',
              '시가':'79200',
              '종가':'79900'}]

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame(stock_dic, columns=['날짜','종목','시가','종가'])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
날짜    3 non-null object
종목    3 non-null object
시가    3 non-null object
종가    3 non-null object
dtypes: object(4)
memory usage: 176.0+ bytes

In [5]:
data

           날짜     종목     시가     종가
0  2019-05-07   삼성전자  45250  44850
1  2019-05-07   LG전자  75200  77000
2  2019-05-07  SK텔레콤  79200  79900

In [6]:
data['날짜']

0    2019-05-07
1    2019-05-07
2    2019-05-07
Name: 날짜, dtype: object

In [7]:
data2 = data.copy()

In [9]:
data2.dropna(inplace=True)

In [13]:
data2['시가'] = data2['시가'].apply(lambda x : int(x.replace(",","")))

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
날짜    3 non-null object
종목    3 non-null object
시가    3 non-null int64
종가    3 non-null object
dtypes: int64(1), object(3)
memory usage: 120.0+ bytes