In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date

# Series
-1차원 배열 같은 자료구조
  
-numpy자료형 저장가능

-index 이름을 가지고 있음

In [2]:
s =  pd.Series([10, 11, 12, 13, 14])

In [3]:
s[1]

11

In [4]:
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [5]:
pd.Series(['삼성전자', '엘지전자', 'SK하이닉스', '엘지화학'])

0      삼성전자
1      엘지전자
2    SK하이닉스
3      엘지화학
dtype: object

In [6]:
[2]*5

[2, 2, 2, 2, 2]

In [7]:
pd.Series([2]* 5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
a = {
    '삼성전자':'가전',
    '엘지화학':'화학',
    '신세계':'유통'
}

In [10]:
a['신세계']

'유통'

In [11]:
b = pd.Series(a)

In [12]:
b

삼성전자    가전
엘지화학    화학
신세계     유통
dtype: object

In [13]:
b['신세계']

'유통'

In [14]:
pd.Series(np.arange(4, 9))

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [15]:
pd.Series(np.linspace(0,  9, 5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [16]:
np.random.seed(42)
pd.Series(np.random.normal(size = 5))

0    0.496714
1   -0.138264
2    0.647689
3    1.523030
4   -0.234153
dtype: float64

In [17]:
c = pd.Series([1,2,3])

In [18]:
c.values

array([1, 2, 3])

In [19]:
 c.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
c.size

3

In [21]:
len(c)

3

In [22]:
c.shape

(3,)

In [23]:
labels = ['choi', 'young', 'min']
role = ['first', 'second', 'third']

In [24]:
s = pd.Series(labels, index=role)

In [25]:
s

first      choi
second    young
third       min
dtype: object

In [26]:
s.head(2)

first      choi
second    young
dtype: object

In [27]:
s.tail(2)

second    young
third       min
dtype: object

In [28]:
s.shape

(3,)

In [29]:
s1 = pd.Series(np.arange(10, 15), index = list('abcde'))

In [30]:
s1

a    10
b    11
c    12
d    13
e    14
dtype: int64

In [31]:
s1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

## series 는 index의 이름을 사용하여 데이터를 접근

In [32]:
s1['d']

13

In [33]:
s1[['a', 'd']]

a    10
d    13
dtype: int64

In [34]:
s2 = pd.Series(np.arange(10, 15), index=range(1, 6))

In [35]:
s2

1    10
2    11
3    12
4    13
5    14
dtype: int64

In [36]:
s2[3]

12

In [37]:
s2[[1, 3]]

1    10
3    12
dtype: int64

In [38]:
#s2[0]
#error 이유는 index에 0이 없다

# DataFrame

In [39]:
df_1 = pd.DataFrame(np.arange(1, 10))

In [40]:
df_1

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [41]:
df_1.shape

(9, 1)

In [42]:
df = pd.DataFrame(np.array([[10 ,11], [20,21]]))

In [43]:
df

    0   1
0  10  11
1  20  21

In [44]:
df = pd.DataFrame(np.array([[50, 51], [60, 61]]), columns=['A', 'B'])

## dict 형식으로 DataFrame 만들기

In [45]:
df_dict = {'A': [50, 51], 'B':[60,61]}

In [46]:
df_dict

{'A': [50, 51], 'B': [60, 61]}

In [47]:
pd.DataFrame(df_dict)

    A   B
0  50  60
1  51  61

## 컬럼 이름 변경 혹은 붙이기

In [48]:
df.columns

Index(['A', 'B'], dtype='object')

In [49]:
df.columns = ['A', 'B']

In [50]:
df

    A   B
0  50  51
1  60  61

## 웹에 있는 데이터를  DataFrame으로 만들기

In [51]:
kb = pd.read_html("https://finance.naver.com/item/sise_day.nhn?code=105560&page=3")[0]

In [52]:
kb

            날짜       종가     전일비       시가       고가       저가        거래량
0          NaN      NaN     NaN      NaN      NaN      NaN        NaN
1   2019.11.28  46550.0   450.0  45750.0  46600.0  45650.0   540476.0
2   2019.11.27  46100.0   250.0  46000.0  46500.0  45750.0   753439.0
3   2019.11.26  45850.0   200.0  45950.0  46350.0  45400.0  2137333.0
4   2019.11.25  46050.0   150.0  46700.0  46700.0  45850.0  1217858.0
5   2019.11.22  46200.0   550.0  46050.0  46200.0  45850.0  1097164.0
6          NaN      NaN     NaN      NaN      NaN      NaN        NaN
7          NaN      NaN     NaN      NaN      NaN      NaN        NaN
8          NaN      NaN     NaN      NaN      NaN      NaN        NaN
9   2019.11.21  45650.0   300.0  46400.0  46450.0  45150.0  1686894.0
10  2019.11.20  45950.0  1050.0  44800.0  46550.0  44650.0  2402413.0
11  2019.11.19  44900.0   900.0  44050.0  44950.0  43650.0  1834999.0
12  2019.11.18  44000.0   300.0  43600.0  44000.0  43400.0   738224.0
13  2019.11.15  43700.0     0.0  43400.0  44200.0  43300.0  1154688.0
14         NaN      NaN     NaN      NaN      NaN      NaN        NaN

In [53]:
kb.isnull().sum()

날짜     5
종가     5
전일비    5
시가     5
고가     5
저가     5
거래량    5
dtype: int64

In [54]:
kb.dropna()

            날짜       종가     전일비       시가       고가       저가        거래량
1   2019.11.28  46550.0   450.0  45750.0  46600.0  45650.0   540476.0
2   2019.11.27  46100.0   250.0  46000.0  46500.0  45750.0   753439.0
3   2019.11.26  45850.0   200.0  45950.0  46350.0  45400.0  2137333.0
4   2019.11.25  46050.0   150.0  46700.0  46700.0  45850.0  1217858.0
5   2019.11.22  46200.0   550.0  46050.0  46200.0  45850.0  1097164.0
9   2019.11.21  45650.0   300.0  46400.0  46450.0  45150.0  1686894.0
10  2019.11.20  45950.0  1050.0  44800.0  46550.0  44650.0  2402413.0
11  2019.11.19  44900.0   900.0  44050.0  44950.0  43650.0  1834999.0
12  2019.11.18  44000.0   300.0  43600.0  44000.0  43400.0   738224.0
13  2019.11.15  43700.0     0.0  43400.0  44200.0  43300.0  1154688.0

In [55]:
kb_stock = pd.DataFrame()
for x in range(1,4):
    tmp = pd.read_html("https://finance.naver.com/item/sise_day.nhn?code=105560&page={}".format(x))[0]
    tmp = tmp.dropna()
    kb_stock = kb_stock.append(tmp)

In [56]:
kb_stock.reset_index(inplace=True)

In [57]:
kb_stock.columns

Index(['index', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량'], dtype='object')

In [58]:
kb_stock['종가']

0     48050.0
1     49400.0
2     49450.0
3     49900.0
4     49050.0
5     49400.0
6     49400.0
7     47950.0
8     49050.0
9     50000.0
10    48350.0
11    48000.0
12    48300.0
13    48050.0
14    47000.0
15    46650.0
16    46050.0
17    45850.0
18    45950.0
19    46050.0
20    46550.0
21    46100.0
22    45850.0
23    46050.0
24    46200.0
25    45650.0
26    45950.0
27    44900.0
28    44000.0
29    43700.0
Name: 종가, dtype: float64

In [59]:
kb_close = kb_stock['종가']

In [60]:
kb_close

0     48050.0
1     49400.0
2     49450.0
3     49900.0
4     49050.0
5     49400.0
6     49400.0
7     47950.0
8     49050.0
9     50000.0
10    48350.0
11    48000.0
12    48300.0
13    48050.0
14    47000.0
15    46650.0
16    46050.0
17    45850.0
18    45950.0
19    46050.0
20    46550.0
21    46100.0
22    45850.0
23    46050.0
24    46200.0
25    45650.0
26    45950.0
27    44900.0
28    44000.0
29    43700.0
Name: 종가, dtype: float64

In [61]:
type(kb_close)

pandas.core.series.Series

In [62]:
kb_close.dtype

dtype('float64')

In [63]:
kb_close.astype('int32')

0     48050
1     49400
2     49450
3     49900
4     49050
5     49400
6     49400
7     47950
8     49050
9     50000
10    48350
11    48000
12    48300
13    48050
14    47000
15    46650
16    46050
17    45850
18    45950
19    46050
20    46550
21    46100
22    45850
23    46050
24    46200
25    45650
26    45950
27    44900
28    44000
29    43700
Name: 종가, dtype: int32

In [64]:
kb_close

0     48050.0
1     49400.0
2     49450.0
3     49900.0
4     49050.0
5     49400.0
6     49400.0
7     47950.0
8     49050.0
9     50000.0
10    48350.0
11    48000.0
12    48300.0
13    48050.0
14    47000.0
15    46650.0
16    46050.0
17    45850.0
18    45950.0
19    46050.0
20    46550.0
21    46100.0
22    45850.0
23    46050.0
24    46200.0
25    45650.0
26    45950.0
27    44900.0
28    44000.0
29    43700.0
Name: 종가, dtype: float64

**http://fisis.fss.or.kr/fss/fsiview/indexw.html**

In [65]:
text = """{"result":{"err_cd":"000","err_msg":"정상","total_count":"56","description":[{"column_id":"a","column_nm":"임직원수"}],"date_of_settlement":"12/31","unit":"명","list":[{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A1","account_nm":"임원","a":"62"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A11","account_nm":"임원_상임임원","a":"2"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A12","account_nm":"임원_비상임임원","a":"4"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A13","account_nm":"임원_이사대우","a":"56"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A2","account_nm":"일반직원","a":"16438"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A21","account_nm":"일반직원_책임자","a":"9631"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A22","account_nm":"일반직원_행원","a":"6807"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A3","account_nm":"서무직원","a":"0"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A4","account_nm":"별정직원","a":"0"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A5","account_nm":"무기계약직원","a":"364"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A","account_nm":"총임직원","a":"16864"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"B","account_nm":"해외근무임직원","a":"118"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"C","account_nm":"현지채용임직원","a":"86"},{"base_month":"201806","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"D","account_nm":"직원외인원","a":"2106"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A1","account_nm":"임원","a":"62"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A11","account_nm":"임원_상임임원","a":"2"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A12","account_nm":"임원_비상임임원","a":"4"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A13","account_nm":"임원_이사대우","a":"56"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A2","account_nm":"일반직원","a":"16435"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A21","account_nm":"일반직원_책임자","a":"9624"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A22","account_nm":"일반직원_행원","a":"6811"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A3","account_nm":"서무직원","a":"0"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A4","account_nm":"별정직원","a":"0"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A5","account_nm":"무기계약직원","a":"361"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A","account_nm":"총임직원","a":"16858"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"B","account_nm":"해외근무임직원","a":"120"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"C","account_nm":"현지채용임직원","a":"87"},{"base_month":"201809","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"D","account_nm":"직원외인원","a":"2108"},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A1","account_nm":"임원","a":"62"},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A11","account_nm":"임원_상임임원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A12","account_nm":"임원_비상임임원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A13","account_nm":"임원_이사대우","a":"56"},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A2","account_nm":"일반직원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A21","account_nm":"일반직원_책임자","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A22","account_nm":"일반직원_행원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A3","account_nm":"서무직원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A4","account_nm":"별정직원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A5","account_nm":"무기계약직원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A","account_nm":"총임직원","a":"18173"},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"B","account_nm":"해외근무임직원","a":"129"},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"C","account_nm":"현지채용임직원","a":" "},{"base_month":"201812","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"D","account_nm":"직원외인원","a":"5014"},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A1","account_nm":"임원","a":"63"},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A11","account_nm":"임원_상임임원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A12","account_nm":"임원_비상임임원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A13","account_nm":"임원_이사대우","a":"55"},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A2","account_nm":"일반직원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A21","account_nm":"일반직원_책임자","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A22","account_nm":"일반직원_행원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A3","account_nm":"서무직원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A4","account_nm":"별정직원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A5","account_nm":"무기계약직원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"A","account_nm":"총임직원","a":"17650"},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"B","account_nm":"해외근무임직원","a":"161"},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"C","account_nm":"현지채용임직원","a":" "},{"base_month":"201903","finance_cd":"0010927","finance_nm":"국민은행","account_cd":"D","account_nm":"직원외인원","a":"5007"}]}}"""

In [66]:
import json

In [67]:
json.loads(text)

{'result': {'err_cd': '000',
  'err_msg': '정상',
  'total_count': '56',
  'description': [{'column_id': 'a', 'column_nm': '임직원수'}],
  'date_of_settlement': '12/31',
  'unit': '명',
  'list': [{'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A1',
    'account_nm': '임원',
    'a': '62'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A11',
    'account_nm': '임원_상임임원',
    'a': '2'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A12',
    'account_nm': '임원_비상임임원',
    'a': '4'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A13',
    'account_nm': '임원_이사대우',
    'a': '56'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A2',
    'account_nm': '일반직원',
    'a': '16438'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A21',
    'account_nm': '일반직원_책임자',
    'a': '9631'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A22',
    'account_nm': '일반직원_행원',
    'a': '6807'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A3',
    'account_nm': '서무직원',
    'a': '0'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A4',
    'account_nm': '별정직원',
    'a': '0'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A5',
    'account_nm': '무기계약직원',
    'a': '364'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A',
    'account_nm': '총임직원',
    'a': '16864'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'B',
    'account_nm': '해외근무임직원',
    'a': '118'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'C',
    'account_nm': '현지채용임직원',
    'a': '86'},
   {'base_month': '201806',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'D',
    'account_nm': '직원외인원',
    'a': '2106'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A1',
    'account_nm': '임원',
    'a': '62'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A11',
    'account_nm': '임원_상임임원',
    'a': '2'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A12',
    'account_nm': '임원_비상임임원',
    'a': '4'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A13',
    'account_nm': '임원_이사대우',
    'a': '56'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A2',
    'account_nm': '일반직원',
    'a': '16435'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A21',
    'account_nm': '일반직원_책임자',
    'a': '9624'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A22',
    'account_nm': '일반직원_행원',
    'a': '6811'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A3',
    'account_nm': '서무직원',
    'a': '0'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A4',
    'account_nm': '별정직원',
    'a': '0'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A5',
    'account_nm': '무기계약직원',
    'a': '361'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A',
    'account_nm': '총임직원',
    'a': '16858'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'B',
    'account_nm': '해외근무임직원',
    'a': '120'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'C',
    'account_nm': '현지채용임직원',
    'a': '87'},
   {'base_month': '201809',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'D',
    'account_nm': '직원외인원',
    'a': '2108'},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A1',
    'account_nm': '임원',
    'a': '62'},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A11',
    'account_nm': '임원_상임임원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A12',
    'account_nm': '임원_비상임임원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A13',
    'account_nm': '임원_이사대우',
    'a': '56'},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A2',
    'account_nm': '일반직원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A21',
    'account_nm': '일반직원_책임자',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A22',
    'account_nm': '일반직원_행원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A3',
    'account_nm': '서무직원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A4',
    'account_nm': '별정직원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A5',
    'account_nm': '무기계약직원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A',
    'account_nm': '총임직원',
    'a': '18173'},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'B',
    'account_nm': '해외근무임직원',
    'a': '129'},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'C',
    'account_nm': '현지채용임직원',
    'a': ' '},
   {'base_month': '201812',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'D',
    'account_nm': '직원외인원',
    'a': '5014'},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A1',
    'account_nm': '임원',
    'a': '63'},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A11',
    'account_nm': '임원_상임임원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A12',
    'account_nm': '임원_비상임임원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A13',
    'account_nm': '임원_이사대우',
    'a': '55'},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A2',
    'account_nm': '일반직원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A21',
    'account_nm': '일반직원_책임자',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A22',
    'account_nm': '일반직원_행원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A3',
    'account_nm': '서무직원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A4',
    'account_nm': '별정직원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A5',
    'account_nm': '무기계약직원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'A',
    'account_nm': '총임직원',
    'a': '17650'},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'B',
    'account_nm': '해외근무임직원',
    'a': '161'},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'C',
    'account_nm': '현지채용임직원',
    'a': ' '},
   {'base_month': '201903',
    'finance_cd': '0010927',
    'finance_nm': '국민은행',
    'account_cd': 'D',
    'account_nm': '직원외인원',
    'a': '5007'}]}}

In [68]:
pd.DataFrame(json.loads(text)['result']['list']).to_excel('./tmp.xlsx')

In [69]:
kb = pd.DataFrame(json.loads(text)['result']['list'])

In [70]:
help(json)

Help on package json:

NAME
    json

MODULE REFERENCE
    https://docs.python.org/3.7/library/json

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    JSON (JavaScript Object Notation) <http://json.org> is a subset of
    JavaScript syntax (ECMA-262 3rd edition) used as a lightweight data
    interchange format.

    :mod:`json` exposes an API familiar to users of the standard library
    :mod:`marshal` and :mod:`pickle` modules.  It is derived from a
    version of the externally maintained simplejson library.

    Encoding basic Python object hierarchies::

        >>> import json
        >>> json.dumps(['foo', {'bar': ('baz', None, 1.0, 2)}])
        '["foo", {"bar": ["baz", null, 1.0, 2]}]'
        >>> print(json.dumps("\"foo\bar"))
        "\"foo\bar"
        >>> print(json.dumps('\u1234'))
        "\u1234"
        >>> print(json.dumps('\\'))
        "\\"
        >>> print(json.dumps({"c": 0, "b": 0, "a": 0}, sort_keys=True))
        {"a": 0, "b": 0, "c": 0}
        >>> from io import StringIO
        >>> io = StringIO()
        >>> json.dump(['streaming API'], io)
        >>> io.getvalue()
        '["streaming API"]'

    Compact encoding::

        >>> import json
        >>> mydict = {'4': 5, '6': 7}
        >>> json.dumps([1,2,3,mydict], separators=(',', ':'))
        '[1,2,3,{"4":5,"6":7}]'

    Pretty printing::

        >>> import json
        >>> print(json.dumps({'4': 5, '6': 7}, sort_keys=True, indent=4))
        {
            "4": 5,
            "6": 7
        }

    Decoding JSON::

        >>> import json
        >>> obj = ['foo', {'bar': ['baz', None, 1.0, 2]}]
        >>> json.loads('["foo", {"bar":["baz", null, 1.0, 2]}]') == obj
        True
        >>> json.loads('"\\"foo\\bar"') == '"foo\x08ar'
        True
        >>> from io import StringIO
        >>> io = StringIO('["streaming API"]')
        >>> json.load(io)[0] == 'streaming API'
        True

    Specializing JSON object decoding::

        >>> import json
        >>> def as_complex(dct):
        ...     if '__complex__' in dct:
        ...         return complex(dct['real'], dct['imag'])
        ...     return dct
        ...
        >>> json.loads('{"__complex__": true, "real": 1, "imag": 2}',
        ...     object_hook=as_complex)
        (1+2j)
        >>> from decimal import Decimal
        >>> json.loads('1.1', parse_float=Decimal) == Decimal('1.1')
        True

    Specializing JSON object encoding::

        >>> import json
        >>> def encode_complex(obj):
        ...     if isinstance(obj, complex):
        ...         return [obj.real, obj.imag]
        ...     raise TypeError(f'Object of type {obj.__class__.__name__} '
        ...                     f'is not JSON serializable')
        ...
        >>> json.dumps(2 + 1j, default=encode_complex)
        '[2.0, 1.0]'
        >>> json.JSONEncoder(default=encode_complex).encode(2 + 1j)
        '[2.0, 1.0]'
        >>> ''.join(json.JSONEncoder(default=encode_complex).iterencode(2 + 1j))
        '[2.0, 1.0]'


    Using json.tool from the shell to validate and pretty-print::

        $ echo '{"json":"obj"}' | python -m json.tool
        {
            "json": "obj"
        }
        $ echo '{ 1.2:3.4}' | python -m json.tool
        Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

PACKAGE CONTENTS
    decoder
    encoder
    scanner
    tool

CLASSES
    builtins.ValueError(builtins.Exception)
        json.decoder.JSONDecodeError
    builtins.object
        json.decoder.JSONDecoder
        json.encoder.JSONEncoder

    class JSONDecodeError(builtins.ValueError)
     |  JSONDecodeError(msg, doc, pos)
     |
     |  Subclass of ValueError with the following additional properties:
     |
     |  msg: The unformatted error message
     |  doc: The JSON document being parsed
     |  pos: The start index of doc where parsing failed
     |  lineno: The line corresponding to pos
     |  colno: The column corresponding to pos
     |
     |  Method resolution order:
     |      JSONDecodeError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, msg, doc, pos)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __reduce__(self)
     |      Helper for pickle.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class JSONDecoder(builtins.object)
     |  JSONDecoder(*, object_hook=None, parse_float=None, parse_int=None, parse_constant=None, strict=True, object_pairs_hook=None)
     |
     |  Simple JSON <http://json.org> decoder
     |
     |  Performs the following translations in decoding by default:
     |
     |  +---------------+-------------------+
     |  | JSON          | Python            |
     |  +===============+===================+
     |  | object        | dict              |
     |  +---------------+-------------------+
     |  | array         | list              |
     |  +---------------+-------------------+
     |  | string        | str               |
     |  +---------------+-------------------+
     |  | number (int)  | int               |
     |  +---------------+-------------------+
     |  | number (real) | float             |
     |  +---------------+-------------------+
     |  | true          | True              |
     |  +---------------+-------------------+
     |  | false         | False             |
     |  +---------------+-------------------+
     |  | null          | None              |
     |  +---------------+-------------------+
     |
     |  It also understands ``NaN``, ``Infinity``, and ``-Infinity`` as
     |  their corresponding ``float`` values, which is outside the JSON spec.
     |
     |  Methods defined here:
     |
     |  __init__(self, *, object_hook=None, parse_float=None, parse_int=None, parse_constant=None, strict=True, object_pairs_hook=None)
     |      ``object_hook``, if specified, will be called with the result
     |      of every JSON object decoded and its return value will be used in
     |      place of the given ``dict``.  This can be used to provide custom
     |      deserializations (e.g. to support JSON-RPC class hinting).
     |
     |      ``object_pairs_hook``, if specified will be called with the result of
     |      every JSON object decoded with an ordered list of pairs.  The return
     |      value of ``object_pairs_hook`` will be used instead of the ``dict``.
     |      This feature can be used to implement custom decoders.
     |      If ``object_hook`` is also defined, the ``object_pairs_hook`` takes
     |      priority.
     |
     |      ``parse_float``, if specified, will be called with the string
     |      of every JSON float to be decoded. By default this is equivalent to
     |      float(num_str). This can be used to use another datatype or parser
     |      for JSON floats (e.g. decimal.Decimal).
     |
     |      ``parse_int``, if specified, will be called with the string
     |      of every JSON int to be decoded. By default this is equivalent to
     |      int(num_str). This can be used to use another datatype or parser
     |      for JSON integers (e.g. float).
     |
     |      ``parse_constant``, if specified, will be called with one of the
     |      following strings: -Infinity, Infinity, NaN.
     |      This can be used to raise an exception if invalid JSON numbers
     |      are encountered.
     |
     |      If ``strict`` is false (true is the default), then control
     |      characters will be allowed inside strings.  Control characters in
     |      this context are those with character codes in the 0-31 range,
     |      including ``'\t'`` (tab), ``'\n'``, ``'\r'`` and ``'\0'``.
     |
     |  decode(self, s, _w=<built-in method match of re.Pattern object at 0x7f3d638d2870>)
     |      Return the Python representation of ``s`` (a ``str`` instance
     |      containing a JSON document).
     |
     |  raw_decode(self, s, idx=0)
     |      Decode a JSON document from ``s`` (a ``str`` beginning with
     |      a JSON document) and return a 2-tuple of the Python
     |      representation and the index in ``s`` where the document ended.
     |
     |      This can be used to decode a JSON document from a string that may
     |      have extraneous data at the end.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class JSONEncoder(builtins.object)
     |  JSONEncoder(*, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, sort_keys=False, indent=None, separators=None, default=None)
     |
     |  Extensible JSON <http://json.org> encoder for Python data structures.
     |
     |  Supports the following objects and types by default:
     |
     |  +-------------------+---------------+
     |  | Python            | JSON          |
     |  +===================+===============+
     |  | dict              | object        |
     |  +-------------------+---------------+
     |  | list, tuple       | array         |
     |  +-------------------+---------------+
     |  | str               | string        |
     |  +-------------------+---------------+
     |  | int, float        | number        |
     |  +-------------------+---------------+
     |  | True              | true          |
     |  +-------------------+---------------+
     |  | False             | false         |
     |  +-------------------+---------------+
     |  | None              | null          |
     |  +-------------------+---------------+
     |
     |  To extend this to recognize other objects, subclass and implement a
     |  ``.default()`` method with another method that returns a serializable
     |  object for ``o`` if possible, otherwise it should call the superclass
     |  implementation (to raise ``TypeError``).
     |
     |  Methods defined here:
     |
     |  __init__(self, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, sort_keys=False, indent=None, separators=None, default=None)
     |      Constructor for JSONEncoder, with sensible defaults.
     |
     |      If skipkeys is false, then it is a TypeError to attempt
     |      encoding of keys that are not str, int, float or None.  If
     |      skipkeys is True, such items are simply skipped.
     |
     |      If ensure_ascii is true, the output is guaranteed to be str
     |      objects with all incoming non-ASCII characters escaped.  If
     |      ensure_ascii is false, the output can contain non-ASCII characters.
     |
     |      If check_circular is true, then lists, dicts, and custom encoded
     |      objects will be checked for circular references during encoding to
     |      prevent an infinite recursion (which would cause an OverflowError).
     |      Otherwise, no such check takes place.
     |
     |      If allow_nan is true, then NaN, Infinity, and -Infinity will be
     |      encoded as such.  This behavior is not JSON specification compliant,
     |      but is consistent with most JavaScript based encoders and decoders.
     |      Otherwise, it will be a ValueError to encode such floats.
     |
     |      If sort_keys is true, then the output of dictionaries will be
     |      sorted by key; this is useful for regression tests to ensure
     |      that JSON serializations can be compared on a day-to-day basis.
     |
     |      If indent is a non-negative integer, then JSON array
     |      elements and object members will be pretty-printed with that
     |      indent level.  An indent level of 0 will only insert newlines.
     |      None is the most compact representation.
     |
     |      If specified, separators should be an (item_separator, key_separator)
     |      tuple.  The default is (', ', ': ') if *indent* is ``None`` and
     |      (',', ': ') otherwise.  To get the most compact JSON representation,
     |      you should specify (',', ':') to eliminate whitespace.
     |
     |      If specified, default is a function that gets called for objects
     |      that can't otherwise be serialized.  It should return a JSON encodable
     |      version of the object or raise a ``TypeError``.
     |
     |  default(self, o)
     |      Implement this method in a subclass such that it returns
     |      a serializable object for ``o``, or calls the base implementation
     |      (to raise a ``TypeError``).
     |
     |      For example, to support arbitrary iterators, you could
     |      implement default like this::
     |
     |          def default(self, o):
     |              try:
     |                  iterable = iter(o)
     |              except TypeError:
     |                  pass
     |              else:
     |                  return list(iterable)
     |              # Let the base class default method raise the TypeError
     |              return JSONEncoder.default(self, o)
     |
     |  encode(self, o)
     |      Return a JSON string representation of a Python data structure.
     |
     |      >>> from json.encoder import JSONEncoder
     |      >>> JSONEncoder().encode({"foo": ["bar", "baz"]})
     |      '{"foo": ["bar", "baz"]}'
     |
     |  iterencode(self, o, _one_shot=False)
     |      Encode the given object and yield each string
     |      representation as available.
     |
     |      For example::
     |
     |          for chunk in JSONEncoder().iterencode(bigobject):
     |              mysocket.write(chunk)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  item_separator = ', '
     |
     |  key_separator = ': '

FUNCTIONS
    dump(obj, fp, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, default=None, sort_keys=False, **kw)
        Serialize ``obj`` as a JSON formatted stream to ``fp`` (a
        ``.write()``-supporting file-like object).

        If ``skipkeys`` is true then ``dict`` keys that are not basic types
        (``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
        instead of raising a ``TypeError``.

        If ``ensure_ascii`` is false, then the strings written to ``fp`` can
        contain non-ASCII characters if they appear in strings contained in
        ``obj``. Otherwise, all such characters are escaped in JSON strings.

        If ``check_circular`` is false, then the circular reference check
        for container types will be skipped and a circular reference will
        result in an ``OverflowError`` (or worse).

        If ``allow_nan`` is false, then it will be a ``ValueError`` to
        serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``)
        in strict compliance of the JSON specification, instead of using the
        JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

        If ``indent`` is a non-negative integer, then JSON array elements and
        object members will be pretty-printed with that indent level. An indent
        level of 0 will only insert newlines. ``None`` is the most compact
        representation.

        If specified, ``separators`` should be an ``(item_separator, key_separator)``
        tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
        ``(',', ': ')`` otherwise.  To get the most compact JSON representation,
        you should specify ``(',', ':')`` to eliminate whitespace.

        ``default(obj)`` is a function that should return a serializable version
        of obj or raise TypeError. The default simply raises TypeError.

        If *sort_keys* is true (default: ``False``), then the output of
        dictionaries will be sorted by key.

        To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
        ``.default()`` method to serialize additional types), specify it with
        the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.

    dumps(obj, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, default=None, sort_keys=False, **kw)
        Serialize ``obj`` to a JSON formatted ``str``.

        If ``skipkeys`` is true then ``dict`` keys that are not basic types
        (``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
        instead of raising a ``TypeError``.

        If ``ensure_ascii`` is false, then the return value can contain non-ASCII
        characters if they appear in strings contained in ``obj``. Otherwise, all
        such characters are escaped in JSON strings.

        If ``check_circular`` is false, then the circular reference check
        for container types will be skipped and a circular reference will
        result in an ``OverflowError`` (or worse).

        If ``allow_nan`` is false, then it will be a ``ValueError`` to
        serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``) in
        strict compliance of the JSON specification, instead of using the
        JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

        If ``indent`` is a non-negative integer, then JSON array elements and
        object members will be pretty-printed with that indent level. An indent
        level of 0 will only insert newlines. ``None`` is the most compact
        representation.

        If specified, ``separators`` should be an ``(item_separator, key_separator)``
        tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
        ``(',', ': ')`` otherwise.  To get the most compact JSON representation,

In [71]:
kb

   base_month finance_cd finance_nm account_cd account_nm      a
0      201806    0010927       국민은행         A1         임원     62
1      201806    0010927       국민은행        A11    임원_상임임원      2
2      201806    0010927       국민은행        A12   임원_비상임임원      4
3      201806    0010927       국민은행        A13    임원_이사대우     56
4      201806    0010927       국민은행         A2       일반직원  16438
5      201806    0010927       국민은행        A21   일반직원_책임자   9631
6      201806    0010927       국민은행        A22    일반직원_행원   6807
7      201806    0010927       국민은행         A3       서무직원      0
8      201806    0010927       국민은행         A4       별정직원      0
9      201806    0010927       국민은행         A5     무기계약직원    364
10     201806    0010927       국민은행          A       총임직원  16864
11     201806    0010927       국민은행          B    해외근무임직원    118
12     201806    0010927       국민은행          C    현지채용임직원     86
13     201806    0010927       국민은행          D      직원외인원   2106
14     201809    0010927       국민은행         A1         임원     62
15     201809    0010927       국민은행        A11    임원_상임임원      2
16     201809    0010927       국민은행        A12   임원_비상임임원      4
17     201809    0010927       국민은행        A13    임원_이사대우     56
18     201809    0010927       국민은행         A2       일반직원  16435
19     201809    0010927       국민은행        A21   일반직원_책임자   9624
20     201809    0010927       국민은행        A22    일반직원_행원   6811
21     201809    0010927       국민은행         A3       서무직원      0
22     201809    0010927       국민은행         A4       별정직원      0
23     201809    0010927       국민은행         A5     무기계약직원    361
24     201809    0010927       국민은행          A       총임직원  16858
25     201809    0010927       국민은행          B    해외근무임직원    120
26     201809    0010927       국민은행          C    현지채용임직원     87
27     201809    0010927       국민은행          D      직원외인원   2108
28     201812    0010927       국민은행         A1         임원     62
29     201812    0010927       국민은행        A11    임원_상임임원
30     201812    0010927       국민은행        A12   임원_비상임임원
31     201812    0010927       국민은행        A13    임원_이사대우     56
32     201812    0010927       국민은행         A2       일반직원
33     201812    0010927       국민은행        A21   일반직원_책임자
34     201812    0010927       국민은행        A22    일반직원_행원
35     201812    0010927       국민은행         A3       서무직원
36     201812    0010927       국민은행         A4       별정직원
37     201812    0010927       국민은행         A5     무기계약직원
38     201812    0010927       국민은행          A       총임직원  18173
39     201812    0010927       국민은행          B    해외근무임직원    129
40     201812    0010927       국민은행          C    현지채용임직원
41     201812    0010927       국민은행          D      직원외인원   5014
42     201903    0010927       국민은행         A1         임원     63
43     201903    0010927       국민은행        A11    임원_상임임원
44     201903    0010927       국민은행        A12   임원_비상임임원
45     201903    0010927       국민은행        A13    임원_이사대우     55
46     201903    0010927       국민은행         A2       일반직원
47     201903    0010927       국민은행        A21   일반직원_책임자
48     201903    0010927       국민은행        A22    일반직원_행원
49     201903    0010927       국민은행         A3       서무직원
50     201903    0010927       국민은행         A4       별정직원
51     201903    0010927       국민은행         A5     무기계약직원
52     201903    0010927       국민은행          A       총임직원  17650
53     201903    0010927       국민은행          B    해외근무임직원    161
54     201903    0010927       국민은행          C    현지채용임직원
55     201903    0010927       국민은행          D      직원외인원   5007

In [72]:
kb.shape

(56, 6)

In [73]:
kb.head()

  base_month finance_cd finance_nm account_cd account_nm      a
0     201806    0010927       국민은행         A1         임원     62
1     201806    0010927       국민은행        A11    임원_상임임원      2
2     201806    0010927       국민은행        A12   임원_비상임임원      4
3     201806    0010927       국민은행        A13    임원_이사대우     56
4     201806    0010927       국민은행         A2       일반직원  16438

In [74]:
kb.tail()

   base_month finance_cd finance_nm account_cd account_nm      a
51     201903    0010927       국민은행         A5     무기계약직원
52     201903    0010927       국민은행          A       총임직원  17650
53     201903    0010927       국민은행          B    해외근무임직원    161
54     201903    0010927       국민은행          C    현지채용임직원
55     201903    0010927       국민은행          D      직원외인원   5007

In [75]:
kb.columns

Index(['base_month', 'finance_cd', 'finance_nm', 'account_cd', 'account_nm',
       'a'],
      dtype='object')

In [76]:
for x in kb.columns:
    print(x)

base_month
finance_cd
finance_nm
account_cd
account_nm
a

### column값 변경

In [77]:
kb.rename(columns={'base_month': '날짜'}, inplace=True)#column값 변경

In [78]:
kb

        날짜 finance_cd finance_nm account_cd account_nm      a
0   201806    0010927       국민은행         A1         임원     62
1   201806    0010927       국민은행        A11    임원_상임임원      2
2   201806    0010927       국민은행        A12   임원_비상임임원      4
3   201806    0010927       국민은행        A13    임원_이사대우     56
4   201806    0010927       국민은행         A2       일반직원  16438
5   201806    0010927       국민은행        A21   일반직원_책임자   9631
6   201806    0010927       국민은행        A22    일반직원_행원   6807
7   201806    0010927       국민은행         A3       서무직원      0
8   201806    0010927       국민은행         A4       별정직원      0
9   201806    0010927       국민은행         A5     무기계약직원    364
10  201806    0010927       국민은행          A       총임직원  16864
11  201806    0010927       국민은행          B    해외근무임직원    118
12  201806    0010927       국민은행          C    현지채용임직원     86
13  201806    0010927       국민은행          D      직원외인원   2106
14  201809    0010927       국민은행         A1         임원     62
15  201809    0010927       국민은행        A11    임원_상임임원      2
16  201809    0010927       국민은행        A12   임원_비상임임원      4
17  201809    0010927       국민은행        A13    임원_이사대우     56
18  201809    0010927       국민은행         A2       일반직원  16435
19  201809    0010927       국민은행        A21   일반직원_책임자   9624
20  201809    0010927       국민은행        A22    일반직원_행원   6811
21  201809    0010927       국민은행         A3       서무직원      0
22  201809    0010927       국민은행         A4       별정직원      0
23  201809    0010927       국민은행         A5     무기계약직원    361
24  201809    0010927       국민은행          A       총임직원  16858
25  201809    0010927       국민은행          B    해외근무임직원    120
26  201809    0010927       국민은행          C    현지채용임직원     87
27  201809    0010927       국민은행          D      직원외인원   2108
28  201812    0010927       국민은행         A1         임원     62
29  201812    0010927       국민은행        A11    임원_상임임원
30  201812    0010927       국민은행        A12   임원_비상임임원
31  201812    0010927       국민은행        A13    임원_이사대우     56
32  201812    0010927       국민은행         A2       일반직원
33  201812    0010927       국민은행        A21   일반직원_책임자
34  201812    0010927       국민은행        A22    일반직원_행원
35  201812    0010927       국민은행         A3       서무직원
36  201812    0010927       국민은행         A4       별정직원
37  201812    0010927       국민은행         A5     무기계약직원
38  201812    0010927       국민은행          A       총임직원  18173
39  201812    0010927       국민은행          B    해외근무임직원    129
40  201812    0010927       국민은행          C    현지채용임직원
41  201812    0010927       국민은행          D      직원외인원   5014
42  201903    0010927       국민은행         A1         임원     63
43  201903    0010927       국민은행        A11    임원_상임임원
44  201903    0010927       국민은행        A12   임원_비상임임원
45  201903    0010927       국민은행        A13    임원_이사대우     55
46  201903    0010927       국민은행         A2       일반직원
47  201903    0010927       국민은행        A21   일반직원_책임자
48  201903    0010927       국민은행        A22    일반직원_행원
49  201903    0010927       국민은행         A3       서무직원
50  201903    0010927       국민은행         A4       별정직원
51  201903    0010927       국민은행         A5     무기계약직원
52  201903    0010927       국민은행          A       총임직원  17650
53  201903    0010927       국민은행          B    해외근무임직원    161
54  201903    0010927       국민은행          C    현지채용임직원
55  201903    0010927       국민은행          D      직원외인원   5007

# indexing을 위해서 기억해야 할 2가지 method

## iloc(), loc()

In [79]:
s1 = pd.Series(np.arange(10, 15), index=list('abcde'))

In [80]:
s1

a    10
b    11
c    12
d    13
e    14
dtype: int64

In [81]:
s1.iloc[[0,2]]# index로 슬라이싱

a    10
c    12
dtype: int64

In [82]:
s1.loc[['a', 'b']]

a    10
b    11
dtype: int64

In [83]:
s = pd.Series(np.arange(100, 110), index = np.arange(10,20))

In [84]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int64

In [85]:
s[:]

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [86]:
s.iloc[[0,1,2,3,4]]

10    100
11    101
12    102
13    103
14    104
dtype: int64

In [87]:
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int64

In [88]:
s.loc[[10,11,12,19]]

10    100
11    101
12    102
19    109
dtype: int64

In [89]:
s[::3]

10    100
13    103
16    106
19    109
dtype: int64

In [91]:
s3 = pd.Series(np.arange(0,5), index=list('abcde'))